In [1]:
# first we import our libraries
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
import matplotlib as plt
import datetime as dt
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('flight_2013.csv')

In [5]:
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,...,DestAirportName,DestCity,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
0,0,2013,9,16,1,DL,15304,Tampa International,Tampa,FL,...,John F. Kennedy International,New York,NY,1539.0,4.0,0.0,1824.0,13.0,0.0,0.0
1,1,2013,9,23,1,WN,14122,Pittsburgh International,Pittsburgh,PA,...,Chicago Midway International,Chicago,IL,710.0,3.0,0.0,740.0,22.0,1.0,0.0
2,2,2013,9,7,6,AS,14747,Seattle/Tacoma International,Seattle,WA,...,Ronald Reagan Washington National,Washington,DC,810.0,-3.0,0.0,1614.0,-7.0,0.0,0.0
3,3,2013,7,22,1,OO,13930,Chicago O'Hare International,Chicago,IL,...,Cleveland-Hopkins International,Cleveland,OH,804.0,35.0,1.0,1027.0,33.0,1.0,0.0
4,4,2013,5,16,4,DL,13931,Norfolk International,Norfolk,VA,...,Hartsfield-Jackson Atlanta International,Atlanta,GA,545.0,-1.0,0.0,728.0,-9.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260415,260415,2013,7,17,3,WN,13232,Chicago Midway International,Chicago,IL,...,William P Hobby,Houston,TX,2020.0,17.0,1.0,2245.0,12.0,0.0,0.0
260416,260416,2013,6,16,7,FL,14771,San Francisco International,San Francisco,CA,...,John Wayne Airport-Orange County,Santa Ana,CA,735.0,-3.0,0.0,900.0,-5.0,0.0,0.0
260417,260417,2013,5,13,1,WN,13871,Eppley Airfield,Omaha,NE,...,Denver International,Denver,CO,2015.0,-5.0,0.0,2050.0,-14.0,0.0,0.0
260418,260418,2013,5,21,2,UA,14771,San Francisco International,San Francisco,CA,...,McCarran International,Las Vegas,NV,1037.0,1.0,0.0,1224.0,-2.0,0.0,0.0
260419,260419,2013,4,1,1,AA,11298,Dallas/Fort Worth International,Dallas/Fort Worth,TX,...,Salt Lake City International,Salt Lake City,UT,1210.0,3.0,0.0,1405.0,17.0,1.0,0.0

In [6]:
df.isnull().sum()

Unnamed: 0           0
Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
Carrier              0
OriginAirportID      0
OriginAirportName    0
OriginCity           0
OriginState          0
DestAirportID        0
DestAirportName      0
DestCity             0
DestState            0
CRSDepTime           0
DepDelay             0
DepDel15             0
CRSArrTime           0
ArrDelay             0
ArrDel15             0
Cancelled            0
dtype: int64

In [7]:
for i in range(len(df)):
  number = df['DepDelay'][i]
  if np.isnan(df['DepDel15'][i]):
    if number < 15:
      df['DepDel15'][i] = 0
    elif number >= 15:
      df['DepDel15'][i] = 1

In [8]:
df.dropna(inplace = True)

In [9]:
df.describe(exclude="number")

,Carrier,OriginAirportName,OriginCity,OriginState,DestAirportName,DestCity,DestState
count,260420,260420,260420,260420,260420,260420,260420
unique,16,70,66,36,70,66,36
top,WN,Hartsfield-Jackson Atlanta International,Chicago,CA,Hartsfield-Jackson Atlanta International,Chicago,CA
freq,55301,14495,17154,36773,14379,17131,36533

In [10]:
df.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,OriginAirportID,DestAirportID,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
count,260420.000000,260420.0,260420.000000,260420.000000,260420.000000,260420.000000,260420.000000,260420.000000,260420.000000,260420.000000,260420.000000,260420.000000,260420.000000,260420.000000
mean,130209.500000,2013.0,6.978235,15.810633,3.898737,12744.957181,12740.010825,1325.277037,10.371976,0.199297,1505.381180,6.512676,0.216032,0.010721
std,75176.922889,0.0,1.982322,8.797871,1.987068,1501.595110,1502.340256,470.720859,35.750544,0.399473,493.212079,38.293147,0.411537,0.102987
min,0.000000,2013.0,4.000000,1.000000,1.000000,10140.000000,10140.000000,1.000000,-63.000000,0.000000,1.000000,-75.000000,0.000000,0.000000
25%,65104.750000,2013.0,5.000000,8.000000,2.000000,11292.000000,11292.000000,920.000000,-4.000000,0.000000,1119.000000,-11.000000,0.000000,0.000000
50%,130209.500000,2013.0,7.000000,16.000000,4.000000,12892.000000,12892.000000,1320.000000,-1.000000,0.000000,1529.000000,-3.000000,0.000000,0.000000
75%,195314.250000,2013.0,9.000000,23.000000,6.000000,14057.000000,14057.000000,1725.000000,9.000000,0.000000,1918.000000,10.000000,0.000000,0.000000
max,260419.000000,2013.0,10.000000,31.000000,7.000000,15376.000000,15376.000000,2359.000000,1425.000000,1.000000,2359.000000,1440.000000,1.000000,1.000000

In [11]:
df.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
Carrier               object
OriginAirportID        int64
OriginAirportName     object
OriginCity            object
OriginState           object
DestAirportID          int64
DestAirportName       object
DestCity              object
DestState             object
CRSDepTime           float64
DepDelay             float64
DepDel15             float64
CRSArrTime           float64
ArrDelay             float64
ArrDel15             float64
Cancelled            float64
dtype: object

In [12]:
df['DayTime_Dep'] = ''
df['DayTime_Arr'] = ''
for i in range(len(df)):
    if( len(str(int(df['CRSDepTime'][i]))) <= 2):
      df['DayTime_Dep'][i] = datetime.datetime(df['Year'][i], df['Month'][i], df['DayofMonth'][i], 00, int(str(int(df['CRSDepTime'][i]))[-2:]) )
    else:
      df['DayTime_Dep'][i] = datetime.datetime(df['Year'][i], df['Month'][i], df['DayofMonth'][i], int(str(int(df['CRSDepTime'][i]))[:-2]), int(str(int(df['CRSDepTime'][i]))[-2:]) ) 

    if( len(str(int(df['CRSArrTime'][i]))) <= 2):
      df['DayTime_Arr'][i] = datetime.datetime(df['Year'][i], df['Month'][i], df['DayofMonth'][i], 00, int(str(int(df['CRSArrTime'][i]))[-2:]) ) 
    else:
      df['DayTime_Arr'][i] = datetime.datetime(df['Year'][i], df['Month'][i], df['DayofMonth'][i], int(str(int(df['CRSArrTime'][i]))[:-2]), int(str(int(df['CRSArrTime'][i]))[-2:]) )

C:\Users\abu3a\AppData\Local\Temp\ipykernel_32164\424989290.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayTime_Dep'][i] = datetime.datetime(df['Year'][i], df['Month'][i], df['DayofMonth'][i], int(str(int(df['CRSDepTime'][i]))[:-2]), int(str(int(df['CRSDepTime'][i]))[-2:]) )
C:\Users\abu3a\AppData\Local\Temp\ipykernel_32164\424989290.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayTime_Arr'][i] = datetime.datetime(df['Year'][i], df['Month'][i], df['DayofMonth'][i], int(str(int(df['CRSArrTime'][i]))[:-2]), int(str(int(df['CRSArrTime'][i]))[-2:]) )
C:\Users\abu3a\AppData\Local\Temp\ipykernel_32164\424989290.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayTime_Arr'][i] = datetime.datetime(df['Year'][i], df['Month'][i], df['DayofMonth'][i], 00, int(str(int(df['CRSArrTime'][i]))[-2:]) )
C:\Users\abu3a\AppData\Local\Temp\ipykernel_32164\424989290.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayTime_Dep'][i] = datetime.datetime(df['Year'][i], df['Month'][i], df['DayofMonth'][i], 00, int(str(int(df['CRSDepTime'][i]))[-2:]) )

In [13]:
df['OriginAirportName'].lower().str.contains('international')

AttributeError: 'Series' object has no attribute 'lower'

In [14]:
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,...,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled,DayTime_Dep,DayTime_Arr
0,0,2013,9,16,1,DL,15304,Tampa International,Tampa,FL,...,NY,1539.0,4.0,0.0,1824.0,13.0,0.0,0.0,2013-09-16 15:39:00,2013-09-16 18:24:00
1,1,2013,9,23,1,WN,14122,Pittsburgh International,Pittsburgh,PA,...,IL,710.0,3.0,0.0,740.0,22.0,1.0,0.0,2013-09-23 07:10:00,2013-09-23 07:40:00
2,2,2013,9,7,6,AS,14747,Seattle/Tacoma International,Seattle,WA,...,DC,810.0,-3.0,0.0,1614.0,-7.0,0.0,0.0,2013-09-07 08:10:00,2013-09-07 16:14:00
3,3,2013,7,22,1,OO,13930,Chicago O'Hare International,Chicago,IL,...,OH,804.0,35.0,1.0,1027.0,33.0,1.0,0.0,2013-07-22 08:04:00,2013-07-22 10:27:00
4,4,2013,5,16,4,DL,13931,Norfolk International,Norfolk,VA,...,GA,545.0,-1.0,0.0,728.0,-9.0,0.0,0.0,2013-05-16 05:45:00,2013-05-16 07:28:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260415,260415,2013,7,17,3,WN,13232,Chicago Midway International,Chicago,IL,...,TX,2020.0,17.0,1.0,2245.0,12.0,0.0,0.0,2013-07-17 20:20:00,2013-07-17 22:45:00
260416,260416,2013,6,16,7,FL,14771,San Francisco International,San Francisco,CA,...,CA,735.0,-3.0,0.0,900.0,-5.0,0.0,0.0,2013-06-16 07:35:00,2013-06-16 09:00:00
260417,260417,2013,5,13,1,WN,13871,Eppley Airfield,Omaha,NE,...,CO,2015.0,-5.0,0.0,2050.0,-14.0,0.0,0.0,2013-05-13 20:15:00,2013-05-13 20:50:00
260418,260418,2013,5,21,2,UA,14771,San Francisco International,San Francisco,CA,...,NV,1037.0,1.0,0.0,1224.0,-2.0,0.0,0.0,2013-05-21 10:37:00,2013-05-21 12:24:00
260419,260419,2013,4,1,1,AA,11298,Dallas/Fort Worth International,Dallas/Fort Worth,TX,...,UT,1210.0,3.0,0.0,1405.0,17.0,1.0,0.0,2013-04-01 12:10:00,2013-04-01 14:05:00

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260420 entries, 0 to 260419
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         260420 non-null  int64
 1   Year               260420 non-null  int64
 2   Month              260420 non-null  int64
 3   DayofMonth         260420 non-null  int64
 4   DayOfWeek          260420 non-null  int64
 5   Carrier            260420 non-null  object
 6   OriginAirportID    260420 non-null  int64
 7   OriginAirportName  260420 non-null  object
 8   OriginCity         260420 non-null  object
 9   OriginState        260420 non-null  object
 10  DestAirportID      260420 non-null  int64
 11  DestAirportName    260420 non-null  object
 12  DestCity           260420 non-null  object
 13  DestState          260420 non-null  object
 14  CRSDepTime         260420 non-null  float64
 15  DepDelay           260420 non-null  float64
 16  DepDel15           260420 non-null  float64
 17  CRSArrTime         260420 non-null  float64
 18  ArrDelay           260420 non-null  float64
 19  ArrDel15           260420 non-null  float64
 20  Cancelled          260420 non-null  float64
 21  DayTime_Dep        260420 non-null  object
 22  DayTime_Arr        260420 non-null  object
dtypes: float64(7), int64(7), object(9)
memory usage: 45.7+ MB

In [124]:
df.to_csv("flight_2013.csv")